@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Warang+Citi&display=swap');
body{
	margin: 0;
}
body a{
	text-decoration: none;
}

.navbar span{
	font-family: cursive;
	color: red;
	font-size: 30px
}
.top-container{
	background-image: url(https://images.unsplash.com/photo-1525547719571-a2d4ac8945e2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8Y29tcHV0ZXJ8ZW58MHx8MHx8&auto=format&fit=crop&w=1000&q=60);
	height: 100vh;
	color: white;
	display: flex;
	font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 40px;
	text-align: center;
	justify-content: center;
	align-items: center;
	letter-spacing: 2px;
	background-size: cover;
}
.navbar{
	padding: 0 10px;
	display: flex;
	position: fixed;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	background-color: white;
	transition: ease-in-out 0.5s;
}

.navbar ul{
	display: flex;
	list-style: none;
	
}

.navbar ul li a{
	margin: 0 10px;
	color: black;
	font-family: cursive;
	transition: ease-in-out 0.5s;
}

.navbar a:hover{
	color: red;
}

.text{
	margin: 50px 5%;
	text-align: justify;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar.active{
	background-color: black;
}

.navbar.active a {
	color: white;
	transition: ease-in-out 0.5s;
}

.navbar.active a:hover {
	color: goldenrod;
}
