body{
	max-width: 550px;
	margin: 0;
	background-color: black;
	display: flex;
	height:100vh;
	align-items: center;
}

h1{
	color: white;
	font-family: sans-serif;
}

p{
	color: white;
	margin: 10px;
	font-family: sans-serif;

}

.trailer-container{
	display: none;
}