body{
	font-family: sans-serif;
	margin: 0;
	background-color: black;
	display: flex;
	height:100vh;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
}

.main-container h1{
	color: white;
	font-size: 45px;
	font-family: sans-serif;
}

.main-container{
	max-width: 550px;
	padding: 10px;
}
.main-container img{
	max-width: 100%;
}

.main-container p{
	color: white;
	margin: 10px;
	font-family: sans-serif;
}

.btn{
	background-color: white;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	transition: ease-in-out 0.5s;
}

.trailer-container{
	display: none;
}

.btn:hover{
	background-color: orange;
	color: white;
}