body{
	background-color: yellow;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.form{
	background-color: white;
	padding: 20px;
	margin: 10px;
	box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.4);
	border-radius: 10px;
	font-family: cursive;
}

.input{
	font-size: 30px;
	display: block;
	width: 100%;
	outline: none;
	color: blue;
	box-sizing: border-box;
	border: solid 4px blue;
	text-align: center;
	padding: 10px;
}

.input::placeholder{
	color: lightgray;
	font-family: cursive;
}

.btn{
	font-family: cursive;
	font-size: 25px;
	display: block;
	width:100%;
	margin: 20px 0;
	padding: 10px;
	cursor: pointer;
	background-color: blue;
	color: white;
	border: none;
	border-radius: 10px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.btn:hover{
	transition: ease-out 0.5s;
	filter: brightness(0.9);
}

