body{
	background-color: yellow;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.form{
	background-color: white;
	padding: 20px;
	margin: 10px;
	box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.4);
	border-radius: 10px;
	font-family: cursive;
}

.input{
	font-size: 30px;
	display: block;
	width: 100%;
	box-sizing: border-box;
	border: solid 4px blue;
	text-align: center;
	padding: 10px;
}

.input::placeholder{
	color: lightgray;
	font-family: cursive;
}