body{
	background-color: black;
	margin: 0;
	height: 100vh;
	overflow: hidden;
}


span{
	width: 100px;
	height: 100px;
	pointer-events: none;
	background-image: url("https://cdn4.iconfinder.com/data/icons/set-1/32/__1-512.png");
	background-size: cover;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
